[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2.4"
cookiecutter = "2.3.0"
cookiecutter-django = "1.11.9"

[dev-packages]

[requires]
python_version = "3.11"
