<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAO4CcR4c2cfs2OAGdMxJ7QrLEVzJ1gDI</string>
	<key>GCM_SENDER_ID</key>
	<string>861685885976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>solan.landvext.co</string>
	<key>PROJECT_ID</key>
	<string>landvext-ef978</string>
	<key>STORAGE_BUCKET</key>
	<string>landvext-ef978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861685885976:ios:cd51b1e97151c30c04a76d</string>
</dict>
</plist>